.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.selectContainer b {
    margin-bottom: 10px;
}

.selectContainer select {
    width: 200px;
    height: 30px;
    border-radius: 7px;
    outline: none;
    font-size: 14px;
}